/ .navbar.navbar-fixed-top
/   .navbar-inner
/     .container
/       %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
/         %span.icon-bar
/         %span.icon-bar
/         %span.icon-bar
/       %a.brand(href="#") Fmarket
/       .container.nav-collapse
/         %ul.nav
= nav_bar :fixed => :top, :brand => "Fmarket  " do
  - if logged_in?
    = menu_group do
      %li
        = link_to current_user.email, current_user
      - if current_user.admin?
        %li
          = link_to t(:company), companies_path
        %li
          = link_to t(:users), users_path
      - else
        %li
          = link_to t(:dashboard), dashboard_path
        %li
          = link_to t(:prices), prices_path
    = menu_group :pull => :right do 
      %li
        = link_to t(:loggout), logout_path
  - else
    = menu_group :pull => :right do 
      %li
        = link_to t(:sign_up), signup_path
      %li
        = link_to t(:sign_in), signin_path
