= t('news.news')
.panel
  - for n in News.get_last(5) do
    .row
      .twelve.columns
        %p
          %small
            = l(n.start, :format => :news)
        %h3
          = link_to n.name,  n
          %br
        = n.paged.slice!(1)

