= link_to t('replacemnt.add'), new_admin_replacement_path(:object => obj, :type => obj.class.name)
%table.twelve
  %thead
    %tr
      %th
        = t('replacemnt.name')
      %th
        = t('replacemnt.component')
      %th
        = t('actions')
      
  %tbody
    - obj.replacements.each do |o|
      %tr
        %td
          = o.content
        %td
          = link_to o.component.name, admin_component_path(o.component)
        %td
          = link_to t('edit'), edit_admin_replacement_path(o)
          = link_to t('destroy'), admin_replacement_path(o), :method => "delete", :confirm => t('confirm_destroy')