.well.sidebar-nav
  %h3 Sidebar
  %ul.nav.nav-list
    %li.nav-header Sidebar
    - if logged_in?
      - if !current_user.company
        = link_to  t(:add_company), new_company_path(:parent => nil)
      - else
        %li
          = link_to current_user.company.name, current_user.company
        %li
          = link_to t(:add_subdivision), new_company_path(:parent => current_user.company)
        %li
          = link_to t(:list_subdivisions), subdivisions_path(:parent => current_user.company)
        - if current_user.company.is_head?
          %li
            = link_to t(:list_employee), users_path(:company => current_user.company)