<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  
  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
  
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  
  <!-- Included CSS Files -->
  <%= stylesheet_link_tag    "application" %>
  
  <!-- Included JS Files  -->
  
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="top_bar">
      <div class="large-3 columns">
        <h1><a href="/"><img src="/logo_text.png" /></a></h1>
      </div>
    
      <%= render 'shared/menu' %>
    </div>
    
  </div>
    <!-- End Header and Nav -->
  
  <div class="main_context">
    <div class = "row">
      <%= render "shared/alert" %>
    </div>
     <div class="row">
  <!-- Main Content Section -->
  <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger    screens -->
      <div class="large-9 push-3 columns">
        <%= yield %>
      </div>
    
    <div class="large-3 pull-9 columns">
      <ul class="side-nav">
        <%= render 'shared/side_nave' %>
      </ul>
     
     </div>
    </div>
  </div>
     <!-- Footer -->
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
        <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <%= render 'shared/menu' %>
      </div>
    </div>
  </footer>
</body>
</html>
