= simple_form_for @company, defaults: { input_html: { class: 'form-horizontal' } } do |f|
  - if @company.errors.any?
    #error_explanation
      %h2= "Есть #{pluralize(@company.errors.count, "ошибка")}:"
      %ul
        - @company.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :inn, label: t(:inn)
  .field
    = f.input :name, label: t(:name_company)
  .field
    = f.label t(:is_supplier)
  .field
    = f.check_box :supplier
  .field
    = f.label t(:is_buyer)
  .field
    = f.check_box :buyer  #, :as => :check_boxes
  .actions
    = f.button :submit, label: t(:to_step2)
