%h1 Listing companies

%table
  %tr
    %th Inn
    %th Name
    %th Supplier
    %th Buyer
    %th Parent
    %th Block
    %th 
      = t(:subcode)
    %th
    %th
    %th
    
  - @companies.each do |company|
    %tr
      %td= company.inn
      %td= company.name
      %td= company.supplier
      %td= company.buyer
      %td= company.parent_id
      %td= company.block
      %td= company.subcode
      %td= link_to 'Show', company
      %td= link_to 'Edit', edit_company_path(company)
      %td= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Company', new_company_path
