%p#notice= notice

%p
  %b Inn:
  = @company.inn
%p
  %b Name:
  = @company.name
%p
  %b Supplier:
  = @company.supplier
%p
  %b Buyer:
  = @company.buyer
%p
  %b Parent:
  = @company.parent_id


= link_to 'Edit', edit_company_path(@company)
\|
= link_to 'Back', companies_path
