%h1 t(:orders_to_cotractors)

%table
  %tr
    %th Contractor
    %th date
    %th status
    %th
    %th

  - @orders.each do |order|
    %tr
      %td= order.contractor.name
      %td= order.date
      %td= Order::STATUS[order.status]
      %td= link_to t(:show_order), order
      %td= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }

%br