.row
  .small-10.push-0.columns
    %ul
      = link_to t(:add_price), new_price_path
    %ul
      = link_to t(:list_price), prices_path
    %ul
      = link_to t(:complex_price), complex_price_path
    %hr
    %ul
      = link_to t(:orders), orders_for_contractors_path
    %ul
      = link_to t(:orders_customers), orders_from_customers_path


