%h1
%ul.pagination{:id => "ul_pagination"}
  %table.table.table.striped
    %caption
      = t(:users_list)
    - @users.each do |user|
      %tr
        %td
          = user.name
        %td
          = user.email
        /= link_to user.string_status, "#"
        %td
          = user.company.to_s
        %td
          %a{ :id => "user#{user.id}", :user_id => "#{user.id}", :class => "user_block" }
            = user.string_status
        %td
          = link_to t(:del_user), user, :method => :delete, :confirm => t(:are_you_shure), :title => (t(:delete) + " #{user.name}")

    