%h1= t(:sign_up)
%hr
/ %div{:class => "row"}
/ %div{:class =>"span9"}
= t(:input_data_for_signup)
/ %div{:class => "row"}
= simple_form_for @user do |f|
  - if @user.errors.any?
    %ul
      - @user.errors.full_messages.each do |message|
        %li= message

 
  /= form_tag users_path do 
  %p
    /= f.label :name, "Name:" 
    = f.input :name, label: t(:login)
  %p
    /= f.label :company, "company:" 
    = f.input :email
  %p
    /= f.label :password, t(:pass) + ":" 
    = f.input :password, label: t(:pass)
  %p
    //= f.label :password_confirmation, t(:pass_confirmation) + ":" 
    = f.input :password_confirmation , label: t(:pass_confirmation)
  
  %hr
  %p= f.submit t(:sign_up), :class => "btn"