= simple_form_for @price , :remote => true, :multipart => true do |f|
  - if @price.errors.any?
    #error_explanation  
      %h2= "#{pluralize(@price.errors.count, "error")} prohibited this price from being saved:"
      %ul
        - @price.errors.full_messages.each do |msg|
          %li= msg
  = f.input :start_date, :as => :datepicker
  = f.input :end_date, :as => :datepicker
  = file_field_tag :file
  = f.button :submit
