= button_tag(:type => 'button', :onClick => "reset_order()") {content_tag(:div, t(:clear_order))}
= link_to (:create_order), create_orders_path
%table.price_content{:id => 'price_complex'}
  .pager_to_content{:id => 'pager_to_complex'}