%h1 Listing prices

%table
  %tr
    %th Start date
    %th End date
    %th
    %th
    %th

  - @prices.each do |price|
    %tr
      %td= price.start_date
      %td= price.end_date
      %td= link_to 'Show', price
      %td= link_to 'Edit', edit_price_path(price)
      %td= link_to 'Destroy', price, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Price', new_price_path
