%h1 Заказывать проще! <br> Продавать больше!!!
%p 
  %ul
    %li Размещайте прайсы
    %li Делайте заказы
    %li Анализируйте предложения
    %li Быстро импортируйте в свою ERP систему!
  %center
    .button
      %a{:href => "/signup", :class => "btn"}
        Попробовать!!!